.app-container {
  display: flex;
  height: 400px;
  max-height: calc(100vh - 100px);
}

.content {
  display: flex;
  flex: 1;
}

.map-container {
  flex: 3;
  position: relative;
}

.vertical-menu {
  background-color: #d7dee0;
  color: #fff;
  .nav-link {
    margin-left: 10px;
    color: #fff;
  }
  .nav-link:hover {
    background-color: #61dbfb;
    border-radius: 10px;
  }

  .profile-icon {
    background-color: #61dbfb;
  }

  .dropdown {
    .dropdown-toggle:hover {
      background-color: transparent !important;
    }
    .dropdown-menu {
      left: -130px;
      .dropdown-item:hover {
        background-color: #61dbfb;
        color: #fff;

        &:last-child:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #343a40;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav-link {
    color: #fff;

    &:hover {
      background-color: #495057;
    }
  }
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.bottom-nav {
  position: absolute;
  bottom: 20px;
  width: 100%;
  
  .dropdown-toggle::after {
    display: none !important;
  }
}

